* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {

    background-color: white;
    height: 80px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 0.5px solid rgb(177, 177, 177);
    overflow: clip;
}

.logo {

    margin-top: 11px;
}


body{

    font-family: Arial, Helvetica, sans-serif;
}

.nav h5 {

    font-size: 11px;
    font-weight: 700;

}

.logo {

    margin-right: 18px;
}

.nav {

    display: flex;
    gap: 25px;
    margin-right: 30px;

}

#new {

    color: rgb(92, 164, 92);
}

#line {

    border-top: 2px solid rgb(92, 164, 92);
}

.banner {

    margin: 18px;
    position: relative;

}

.text1 h1 {

    text-align: center;
}

.text1 {

    margin-top: 30px;
    text-align: center;
}

.text1 button {

    background-color: rgb(74, 200, 152);
    border-style: none;
    padding: 10px;
    margin: 20px;
    margin-bottom: 100px;
    font-weight: 600;
    color: white;
}

.newarrivals {

    margin: 30px;
    padding: 30px;
    display: flex;
    gap: 10px;
    position: absolute;
    left: 400px;

}

#text3 {

    display: flex;
    flex-direction: column;
}

.text3 {

    width: 300px;
    height: 200px;
    margin-top: 90px;
    margin-left: 120px;
}

.text3 button {

    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    background-color: rgb(74, 200, 152);
    color: white;
    font-weight: 600;
    position: absolute;
    left: 110px;
}

.newarrivals p {

    color: rgb(163, 163, 163);
    font-size: small;
    text-align: center;
    margin-top: 8px;

}

.text3 p {

    margin-top: 10px;
    margin-bottom: 5px;
    font-size: medium;
    color: rgb(48, 45, 45);
}